*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Montserrat';
}

h1{
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 5rem;
}

h2{
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 2rem;
}

h3{
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 2.5rem;
}

h4{
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 2rem;
}

p{
  font-family: 'montserrat';
  font-size: 1.2rem;
  line-height: 180%;
}

li{
  list-style-type: none;
  text-decoration: none;
  font-size: 1.2rem;
} 

a{
  text-decoration: none;
}

body{
  background-color: black;
  overflow-x: hidden;
}

.list li{
  list-style-type: disc;
  margin-left: 3rem;
  margin-bottom: 0.8rem;
}

#sub-list{
  list-style-type: none;
}

.intro{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 900;
  left: 0;
  top: 0;
  background-color: rgb(5, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-container{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
  width: 65vw;
}

.arrow{
  position: absolute;
  background-color: white;
  width: 2rem;
  height: 7rem;
  right: 3rem;
}

.back-arrow{
  width: 4rem;
  height: 1rem;
  position: absolute;
  background-color: white;
  top: 2rem;
  left: 7rem;
  z-index: 800;
}

.hero{
  width: 100vw;
  height: 100vh;
}

.background{
  width: 100vw;
  height: 100vh;
  /* background-image: url("./images/AnthroImage.png"); */
  transform: scale(1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  position: absolute;
}

.background-overlay{
  width: 100vw;
  height: 100vh;
  background-image: url("./images/TreeOverlay.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
  position: absolute;
}

.nav{
  position: absolute;
  top: 0;
  z-index: 500;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.nav-container{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-links{
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
}

.nav-links::after{
  content:'';
  background: white;
  width: 0%;
  height:2px;
  display: block;
  margin: 0 auto;
  transition: 0.5s;
}

.nav-links:hover::after{
  width: 100%;
}

.logo{
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.title-container{
  position:absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  width: 70%;
}

.transition-overlay{
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
}

.overlay-list{
  display: flex;
  gap: 0;
  width: 100vw;
}

.overlay-items{
  background-color: black;
  flex-grow: 1;
  height: 300vh;
  z-index: 1000;
  transform: translate("100%");
}

.gradient-div{
  height: 10rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.article-container{
  margin-top: 6rem;
  /* position: absolute;
  z-index: 3000; */
  width: 100vw;
  display: flex;
  justify-content: center;
}

.article-div{
  width: 50%;
  min-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-div{
  text-align: center;
}

.under-title{
  margin-top: 10rem;
}

.two-column{
  margin-top: 7rem;
}

.two-column p{
  margin-top: 1.5rem;
}

.article-section{
  margin-top: 7rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.sub-para{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: justify;
}

.img-left div img{
  width: 20vw;
  min-width: 20rem;
  float: left;
  margin-right: 3rem;
}

.img-right div img{
  width: 20vw;
  min-width: 20rem;
  float: right;
  margin: 2rem;
}

/* .charles-darwin-main img{
  width: 20vw;
  min-width: 20rem;
  object-fit: contain;
  float: left;
  margin-right: 3rem;
}

.charles-darwin-young img{
  width: 20vw;
  min-width: 20rem;
  float: right;
  margin: 2rem;
} */

.banner-image{
  width: 100%;
}

.footer{
  height: 10rem;
}



@media (max-width: 1650px) {
  h1{
    font-size: 3.8rem;
  }

  h2{
    font-size: 1.5rem;
  }

  h3{
    font-size: 2rem;
  }

  h4{
    font-size: 1.5rem;
  }

  p{
    font-size: 1rem;
  }

  li{
    font-size: 1rem;
  } 

  .under-title{
    margin-top: 6rem;
  }

  .article-section{
    margin-top: 4rem;
  }

  .two-column{
    margin-top: 4rem;
  }
}
